@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blur-img{
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.thepopverse.com%2Famazing-spider-man-andrew-garfield-10-year-anniversary&psig=AOvVaw3RPBAaZMTwBWDh_KvfHeHe&ust=1698422830038000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLC4v9OMlIIDFQAAAAAdAAAAABAE.png');
    background-size: 'cover';
    background-repeat: 'no-repeat';
    background-position: 'center center';
}