/* Home.module.css */
.bgContainer {
    position: relative;
    background-image: url('/header/bg-blur-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
  }
 
  
  .bgContainer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }
  