@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 72 64% 52%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 72 64% 52%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: wait;
  overflow-y: hidden;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

.introduction {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  background-color: #b1d134;
}

.introduction svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% + 300px);
}

.introduction svg path {
  fill: #b1d134;
}

.introduction p {
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 42px;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.introduction p span {
  display: block;
  width: 10px;
  height: 10px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  margin-right: 10px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 300px;
  gap: 20vw;
  margin-bottom: 300px;
}

.lineMask {
  overflow: hidden;
}

/* MENU */

.svgCurve {
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: #1a1d28;
  stroke: none;
}

.headerButtonContainer {
  transform: scale(0);
  position: fixed;
  right: 20px;
  z-index: 20;
}

.headerButtonContainer .button {
  position: relative;
  margin: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #2a2f40;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.headerButtonContainer .burger {
  width: 100%;
  position: relative;
  z-index: 20;
}

.headerButtonContainer .burger::after,
.headerButtonContainer .burger::before {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: auto;
  background-color: white;
  position: relative;
  transition: transform 0.3s;
}

.headerButtonContainer .burger::after {
  top: -5px;
}

.headerButtonContainer .burger::before {
  top: 5px;
}

.headerButtonContainer .burgerActive::after {
  transform: rotate(45deg);
  top: -1px;
}

.headerButtonContainer .burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
}

.menu {
  width: 100vw;
  height: 100vh;
  background-color: #1a1d28;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  color: white;
  z-index: 10;
}

.menu .body {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.menu .body .nav {
  display: flex;
  flex-direction: column;
  font-size: 78px;
  gap: 12px;
}

.menu .body .nav .header {
  color: rgb(153, 153, 153);
  border-bottom: 1px solid rgb(153, 153, 153);
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 40px;
}

.menu .body .nav a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.roundedButton {
  border-radius: 3em;
  border: 1px solid rgb(136, 136, 136);
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 60px 15px 60px;
}

.roundedButton p {
  position: relative;
  z-index: 1;
  transition: color 0.4s linear;
}

.roundedButton:hover p {
  color: white;
}

.circle {
  width: 100%;
  height: 150%;
  position: absolute;
  border-radius: 50%;
  top: 100%;
}

.link {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link .indicator {
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: -30px;
}

.menu-icon-container {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  padding: 4px;
  transition: transform 0.3s ease;
}

.menu-icon-container:hover {
  transform: scale(1.1);
}

.menu-icon-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border-width 0.3s ease;
}

.menu-icon-container:hover::before {
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: white;
  border-radius: 50%;
}

.menu-icon-container:hover {
  background-color: transparent;
  border-color: rgb(255, 255, 255);
}

/* MENU END */

.circular-button-black {
  position: relative;
  width: 205px;
  height: 205px;
  border-radius: 50%;
  background-color: #b1d134;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-button-black:hover {
  background-color: #b1d134;
}

.circular-button-black img {
  position: absolute;
}

.circular-button-black img:nth-child(1) {
  z-index: 1;
  animation: rotate 5s infinite linear;
}

.circular-button-black #arrow {
  z-index: 2;
  transition: transform 0.5s;
}

.circular-button-black:hover #arrow {
  transform: rotate(-45deg);
}

.circular-button-black:hover img:nth-child(1) {
  animation: rotate-hover 9s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-hover {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(720deg);
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(1440deg);
    animation-timing-function: linear;
  }
}

.circular-button-black:hover img:nth-child(1) {
  animation-duration: 9s;
}

/* CONTACT FORM */
.input-field {
  width: 100%;

  position: relative;
  display: inline-block;
}

.input-field input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bbbbbb;
  padding: 20px 0;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  outline: none;
  font-weight: 300;
}

.input-field input::placeholder {
  width: 100%;
  color: #696969;
  font-size: 20px;
  font-weight: 350;
}

.input-field input:focus {
  border-bottom: 1px solid black;
}

.input-field .error {
  border-bottom-color: #dc2626;
}

.textarea-field {
  position: relative;
  width: 100%;
}

.textarea-field textarea {
  width: 100%;
  height: auto;
  background-color: transparent;
  border: none;
  padding: 8px 0;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  outline: none;
}

.textarea-field textarea:focus {
  outline: none;
}

.textarea-field textarea::placeholder {
  color: #696969;
  font-size: 20px;
  font-weight: 350;
}

.textarea-field::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #bbbbbb;
}

.textarea-field textarea::-webkit-scrollbar {
  width: 3px;
}

.textarea-field textarea::-webkit-scrollbar-thumb {
  background-color: #b1d134;
}

.textarea-field textarea::-webkit-scrollbar-track {
  background-color: #d6dce0;
}

.checkbox-label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-input {
  width: 25px;
  height: 25px;
  appearance: none;
  border: 1px solid #d6dce0;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin-right: 12px;
}

.checkbox-input:checked {
  background-color: #b1d134;
  border-color: #b1d134;
}

.checkbox-text {
  font-size: 20px;
  font-weight: 300;
}

/* CONTACT FORM END */

/* CAROUSEL */

.slider {
  padding-left: 80px;
  max-width: 100%;
  overflow-x: hidden;
  transition: 0.4s ease-out transform;
}
.slider:active {
  transform: scale(0.95);
}
.slides {
  display: flex;
  list-style: none;
  will-change: transform;
}
.slides:hover {
  cursor: grab;
}
.slides:active {
  cursor: grabbing;
}

.slides li div {
  height: 815px;
  width: 1055px;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  user-select: none;
}

.servicesMain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicesBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  height: 350px;
  width: 400px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.industryModalContainer {
  height: 350px;
  width: 400px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: 18deg;
}

.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  height: auto;
}

.cursor,
.cursorLabel {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #b1d134;
  color: black;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
  pointer-events: none;
}

.cursorLabel {
  background-color: transparent;
}

.project {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 50px 100px;
  border-top: 1px solid #282d3d;
  cursor: pointer;
  transition: all 0.2s;
}
.project:last-of-type {
  border-bottom: 1px solid #282d3d;
}

.project:hover {
  opacity: 0.5;
}

.project:hover h2 {
  transform: translateX(-20px);
}

.project:hover p {
  transform: translateX(-20px);
}

.project:hover #arrow {
  transform: translateX(20px);
  transition: all 0.4s;
}

.project h2 {
  color: white;
  font-size: 64px;
  margin: 0px;
  font-weight: 400;
  transition: all 0.4s;
}

.project p {
  font-size: 24px;
  color: white;
  transition: all 0.4s;
  font-weight: 300;
}

.fade-enter {
  opacity: 0;
  max-height: 0;
}

.fade-enter-active {
  opacity: 1;
  max-height: 1000px; /* Adjust the value based on your content height */
  transition: opacity 300ms, max-height 300ms;
}

.fade-exit {
  opacity: 1;
  max-height: 1000px; /* Adjust the value based on your content height */
}

.fade-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 300ms, max-height 300ms;
}

.icon {
  transition: transform 0.7s ease;
}

.rotate {
  transform: rotate(180deg);
}

.textContainer {
  position: absolute;
}

.text {
  position: relative;
  white-space: nowrap;
}

.text p {
  position: relative;
  margin: 0px;
  color: white;
  font-size: 230px;
  font-weight: 500;
  padding-right: 50px;
}

.text p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

.text2 {
  position: relative;
  white-space: nowrap;
}

.text2 p {
  position: relative;
  margin: 0px;
  color: black;
  font-size: 230px;
  font-weight: 500;
  padding-right: 50px;
}

.text2 p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

.arrow-icon-down {
  animation: arrow-bounce-up 1s infinite alternate;
}

@keyframes arrow-bounce-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}

.rotateGlitter {
  animation: spin 5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 450px) {
  .slider {
    padding-left: 20px;
    max-width: 100%;
    overflow-x: hidden;
    transition: 0.4s ease-out transform;
  }

  .slides li div {
    height: 400px;
    width: 415px;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    user-select: none;
  }

  .servicesMain {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .project {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 50px 0px 50px 0px;
    border-top: 1px solid #282d3d;
    cursor: pointer;
    transition: all 0.2s;
  }

  .project h2 {
    text-align: start;
    color: white;
    font-size: 36px;
    margin: 0px;
    font-weight: 500;
    transition: all 0.4s;
  }

  .project p {
    font-size: 18px;
    color: white;
    transition: all 0.4s;
    font-weight: 300;
    text-align: start;
  }

  .project:hover {
    opacity: 0.5;
  }

  .project:hover h2 {
    transform: translateX(0px);
  }

  .project:hover p {
    transform: translateX(0px);
  }

  .project:hover #arrow {
    transform: translateX(0px);
    transition: all 0.4s;
  }

  .textContainer {
    width: fit-content;
  }

  .text {
    position: relative;
    white-space: nowrap;
  }

  .text p {
    position: relative;
    margin: 0px;
    color: white;
    font-size: 130px;
    font-weight: 500;
    padding-right: 50px;
  }

  .marqueeText {
    color: white;
    font-size: 130px;
    font-weight: 500;
  }

  .marqueeTextBlack {
    color: black;
    font-size: 130px;
    font-weight: 500;
  }

  .introduction p {
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 26px;
    align-items: center;
    position: absolute;
    z-index: 1;
  }

  .introduction svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(0%);
  }

  .menu {
    overflow: hidden;
    width: 105vw;
    height: 100vh;
    background-color: #1a1d28;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    color: white;
    z-index: 10;
  }

  .menu .body {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu .body .nav {
    display: flex;
    flex-direction: column;
    font-size: 42px;
    font-weight: 500;
    gap: 12px;
  }

  .headerButtonContainer {
    transform: scale(0);
    position: fixed;
    z-index: 20;
    right: 0;
  }

  .headerButtonContainer .button {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2a2f40;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }

  .checkbox-text {
    text-align: start;
    font-size: 18px;
    font-weight: 300;
  }

  .circular-button-black {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #b1d134;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
