@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 72 64% 52%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 72 64% 52%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white white;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

/* CAROUSEL */

.slider {
  padding-left: 80px;
  max-width: 100%;
  overflow-x: hidden;
  transition: 0.4s ease-out transform;
}
.slider:active {
  transform: scale(0.95);
}
.slides {
  display: flex;
  list-style: none;
  will-change: transform;
}
.slides:hover {
  cursor: grab;
}
.slides:active {
  cursor: grabbing;
}

.slides li div {
  height: 815px;
  width: 1055px;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  user-select: none;
}

.servicesMain {
  width: 100%;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.servicesBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalContainer {
  height: 350px;
  width: 400px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalSlider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  height: auto;
}

.cursor,
.cursorLabel {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #b1d134;
  color: black;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
  pointer-events: none;
}

.cursorLabel {
  background-color: transparent;
}

.project {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 50px 100px;
  border-top: 1px solid #282d3d;
  cursor: pointer;
  transition: all 0.2s;
}
.project:last-of-type {
  border-bottom: 1px solid #282d3d;
}

.project:hover {
  opacity: 0.5;
}

.project:hover h2 {
  transform: translateX(-20px);
}

.project:hover p {
  transform: translateX(-20px);
}

.project:hover #arrow {
  transform: translateX(20px);
  transition: all 0.4s;
}

.project h2 {
  color: white;
  font-size: 64px;
  margin: 0px;
  font-weight: 400;
  transition: all 0.4s;
}

.project p {
  font-size: 24px;
  color: white;
  transition: all 0.4s;
  font-weight: 300;
}

.fade-enter {
  opacity: 0;
  max-height: 0;
}

.fade-enter-active {
  opacity: 1;
  max-height: 1000px; /* Adjust the value based on your content height */
  transition: opacity 300ms, max-height 300ms;
}

.fade-exit {
  opacity: 1;
  max-height: 1000px; /* Adjust the value based on your content height */
}

.fade-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 300ms, max-height 300ms;
}

.icon {
  transition: transform 0.7s ease;
}

.rotate {
  transform: rotate(180deg);
}

.textContainer {
  position: absolute;
}

.text {
  position: relative;
  white-space: nowrap;
}

.text p {
  position: relative;
  margin: 0px;
  color: white;
  font-size: 230px;
  font-weight: 500;
  padding-right: 50px;
}

.text p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

@media screen and (max-width: 450px) {
  .slider {
    padding-left: 20px;
    max-width: 100%;
    overflow-x: hidden;
    transition: 0.4s ease-out transform;
  }

  .slides li div {
    height: 460px;
    width: 415px;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    user-select: none;
  }

  .servicesMain {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
  }

  .project {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 50px 0px 50px 0px;
    border-top: 1px solid #282d3d;
    cursor: pointer;
    transition: all 0.2s;
  }

  .project h2 {
    text-align: start;
    color: white;
    font-size: 36px;
    margin: 0px;
    font-weight: 500;
    transition: all 0.4s;
  }

  .project p {
    font-size: 18px;
    color: white;
    transition: all 0.4s;
    font-weight: 300;
    text-align: start;
  }

  .project:hover {
    opacity: 0.5;
  }

  .project:hover h2 {
    transform: translateX(10px);
  }

  .project:hover p {
    transform: translateX(10px);
  }

  .project:hover #arrow {
    transform: translateX(-10px);
    transition: all 0.4s;
  }

  .textContainer {
    width: fit-content;
  }
  
  .text {
    position: relative;
    white-space: nowrap;
  }

  .text p {
    position: relative;
    margin: 0px;
    color: white;
    font-size: 130px;
    font-weight: 500;
    padding-right: 50px;
  }
}
